<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Webclient</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/styles.8998a9992165422a3188.css">
</head>
    <body>
        <h1>Welcome to Cloud Viewer API</h1>
        <app-root></app-root>
        <script type="text/javascript" src="/static/runtime.a5dd35324ddfd942bef1.js"></script>
        <script type="text/javascript" src="/static/es2015-polyfills.4a4cfea0ce682043f4e9.js" nomodule></script>
        <script type="text/javascript" src="/static/polyfills.407a467dedb63cfdd103.js"></script>
        <script type="text/javascript" src="/static/scripts.11ea4138a8dec3b651be.js"></script>
        <script type="text/javascript" src="/static/main.fa6269c0aaa6b348a5ed.js"></script>
    </body>
</html>
