<div class="m-333">
  <!-- <span fxFlex></span> -->
  <!--  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">{{"ADD" | translate }} {{"MEMBER" | translate }}</button>-->
</div>



<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <mat-progress-bar mode="indeterminate" class="session-progress"></mat-progress-bar>

    <form [formGroup]="myForm">
      <mat-form-field class="margin-333" style="width: 99%">
        <input matInput placeholder="Type to filter" value="" (keyup)='updateFilter($event)' name="filterText"
          [formControl]="myForm.controls['filterText']">
      </mat-form-field>
    </form>

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">
      <ngx-datatable-column name="ID" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id }}
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Terminal Serial Number" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.terminalserialnumber }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Sat Serial Number" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.satserialnumber }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tank ID" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.tankID }}
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Name" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.name }}
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Leased Customer ID" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.leasedcustomerID }}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Latitude" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.latitude | number:'.4' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Longitude" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.longitude | number:'.4' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Update" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.lastUpdate | date:'M/dd/yy H:mm Z' }}
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column name="Asset Type" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.assettype }}
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="State" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.state }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.status }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Chemical" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.chemical }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Active Wellsite" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.activewellsitename }} ({{row?.activewellsite}})
          <!--          <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>-->
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="primary" (click)="viewDetails(row)">
            <mat-icon>assignment</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>