<div fxLayout="row wrap">
    <div fxFlex="100">
        <h1>{{ FacilityName }}</h1>
        <mat-progress-bar mode="indeterminate" class="session-progress"></mat-progress-bar>
    </div>
</div>

<div fxLayout="row wrap">
    <!-- <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50">
        <mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
            <h3>Facility Information</h3>
            <ngx-datatable class="material ml-0 mr-0" [rows]="TableData" [columnMode]="'flex'" [headerHeight]="50"
                [footerHeight]="0" [rowHeight]="'auto'">
                <ngx-datatable-column name="Property Name" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.Name }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Property Value" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Value}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-card>
    </div> -->
    <!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
		<mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
			<h3>Asset Information</h3>
			<table mat-table [dataSource]="TableData">
				<tr mat-header-row *matHeaderRowDef="displayedColumns_TableData"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns_TableData;"></tr>
				<ng-container matColumnDef="Property Name">
					<th mat-header-cell *matHeaderCellDef>Property Name</th>
					<td mat-cell *matCellDef="let element"> {{element.Name}} </td>
				</ng-container>
				<ng-container matColumnDef="Property Value">
					<th mat-header-cell *matHeaderCellDef>Property Value</th>
					<td mat-cell *matCellDef="let element"> {{element.Value}} </td>
				</ng-container>
			</table>
		</mat-card>
	</div> -->

    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
            <h3>Current Levels</h3>
            <ngx-datatable *ngIf="this.objFacilityObject.length > 0" class="material ml-0 mr-0"
                [rows]="this.objFacilityObject" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0"
                [rowHeight]="'auto'">
                <ngx-datatable-column name="Tank" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Name}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Level" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Level}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Percent" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.Percent}}%
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Graph" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="chartme">
                            <div class="hide" [hidden]="true">{{ row?.PercentPoints }}</div>
                            <div class="chart"></div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </mat-card>
    </div>

</div>