<mat-card class="" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">

    <h1>File Upload for wellsite {{id}}</h1>
    <br />
    <br />
    <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
    </label>
    <br />
    <br />
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

</mat-card>

<mat-card class="" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <h1>Current Files</h1>

    <ngx-datatable class="material ml-0 mr-0" [rows]="FileList" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">
        <ngx-datatable-column name="Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.Key }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Uploaded" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.LastModified }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="" [flexGrow]=".25">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a href="{{row.SignedURL}}"><button mat-icon-button mat-sm-button color="primary" class="mr-1">
                    Download File
                </button>
                </a>
            </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Edit" [flexGrow]=".25">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                    [routerLink]="['/manage', 'wellsiteModify', row?.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="primary" (click)="deleteItem(row)"><mat-icon>assignment</mat-icon></button>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Files" [flexGrow]=".25">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                    [routerLink]="['/manage', 'wellsiteFiles', row?.id]">
                    <mat-icon>assignment</mat-icon>
                </button>
            </ng-template>
        </ngx-datatable-column> -->
    </ngx-datatable>

</mat-card>