<div class="m-333">
	<mat-progress-bar mode="indeterminate" class="session-progress"></mat-progress-bar>
</div>

<div fxLayout="row wrap">
	<div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
		<mat-card class="p-0">
			<mat-card-content class="p-0">
				<form [formGroup]="myForm">
					<mat-form-field class="margin-333" style="width: 99%">
						<input matInput placeholder="Type to filter" value="" (keyup)='updateFilter($event)'
							name="filterText" [formControl]="myForm.controls['filterText']">
					</mat-form-field>
				</form>
				<ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'flex'"
					[headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50"
					[messages]="{emptyMessage: 'No Active Alarms', totalMessage: 'total', selectedMessage: 'selected'}">
					<ngx-datatable-column name="Point Name" [flexGrow]="4">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.pointName }}
							<br /><small class='grey-text'>{{ row?.uniqueAlarmId_nice }}</small>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Alarm Name" [flexGrow]="3">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.alarmName }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Alarm Type" [flexGrow]="1.5">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.alarmType }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="In Alarm State Since" [flexGrow]="1.5">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.timestamp | date : "h:mm:ssa MM/dd/yy" }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Set Point" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.setpoint }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Current Value" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.currVal }}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="" [flexGrow]="1">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button mat-icon-button mat-sm-button color="primary" class="mr-1" [routerLink]="['/manage', 'detail', row?.assetId]">
            					<mat-icon>assignment</mat-icon>
          					</button>
						</ng-template>
					</ngx-datatable-column>
					<!-- <ngx-datatable-column name="Alarm Text" [flexGrow]="4">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row?.alarmText }}
						</ng-template>
					</ngx-datatable-column> -->

					<!-- <ngx-datatable-column name="Active Since" [flexGrow]="2">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.activeSince}}
						</ng-template>
					</ngx-datatable-column> -->

				</ngx-datatable>
			</mat-card-content>
		</mat-card>
	</div>
</div>