<mat-card class="p-0">
  <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
  <mat-card-title class="">
    <div class="card-title-text">
      <span>Change Password</span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
     
      <div class="pb-1">
        <mat-form-field class="full-width">
          <input
          matInput
          type='password'
          placeholder="Current Password"
          [formControl]="myForm.controls['password_current']"
          >
        </mat-form-field>
        <small 
        *ngIf="myForm.controls['password_current'].hasError('required') && myForm.controls['password_current'].touched" 
        class="form-error-msg"> Current Password is required </small>
      </div>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <input
          matInput
          type='password'
          name="password_new"
          placeholder="New Password"
          [formControl]="myForm.controls['password_new']"
          >
        </mat-form-field>
        <small 
        *ngIf="myForm.controls['password_new'].hasError('required') && myForm.controls['password_new'].touched" 
        class="form-error-msg"> New Password is required </small>
      </div>      
        <div class="pb-1">
        <mat-form-field class="full-width">
          <input
          matInput
          type='password'
          name="password_confirm"
          placeholder="Confirm New Password"
          [formControl]="myForm.controls['password_confirm']"
          >
        </mat-form-field>
        <small 
        *ngIf="myForm.controls['password_confirm'].hasError('required') && myForm.controls['password_confirm'].touched" 
        class="form-error-msg"> Confirm New Password is required </small>
        <small 
        *ngIf="myForm.controls['password_confirm'].hasError('equalTo') && myForm.controls['password_confirm'].touched" 
        class="form-error-msg"> Passwords don't match </small>
      </div>
      <button mat-raised-button color="primary" class="mb-1" [disabled]="myForm.invalid">Save</button>
    
  </form>
</mat-card>