<div class="m-333">
  <!-- <span fxFlex></span> -->
  <!--  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">{{"ADD" | translate }} {{"MEMBER" | translate }}</button>-->
</div>



<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <mat-progress-bar mode="indeterminate" class="session-progress"></mat-progress-bar>

    <form [formGroup]="myForm">
      <br />
      <button mat-raised-button class="margin-333 pr-1 mb-05 right" color="primary" (click)="openPopUp(false, true)">Add
        District</button>
      <br />
      <mat-form-field class="margin-333" style="width: 98%">
        <input matInput placeholder="Type to filter" value="" (keyup)="updateFilter($event)" name="filterText"
          [formControl]="myForm.controls['filterText']">
      </mat-form-field>
    </form>

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">
      <ngx-datatable-column name="District ID" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Company ID" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.customerID }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="district" [flexGrow]="4">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.district }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Comment" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.comment }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row, false)">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="deleteItem(row)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>